body {
    background: black;
    
}

canvas {
    background-image: url("assets/background/Sky.png");
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 0;
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 10px 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    width: 900px;
    max-width: 80%;
    height: 80%; /* Full height */
    background-color: rgb(253, 253, 253); 
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    /* The Close Button */
  .modal-header .close-button {
    color: #aaaaaa;
    float: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
  }
    /* Modal Content */
  .modal-body {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #overlay {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    pointer-events: none;
    transition: 200ms ease-in-out;
  }

  #overlay.active {
    pointer-events: all;
     
    background-color: rgba(0,0,0, .5);
  }